p {color:red;
    font-family: 'Allerta Stencil', sans-serif;
}
.Rapper {
    color:yellow;
}
body{
     background:black;
}

.Album{
    color:white;
}

.Movie{
    color:purple;
}
.Show{
   color:aqua; 
}











